@charset "ISO-8859-1";

.column {
  float: left;
  width: 20%;
  /*background-color: red;*/
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
body {
  font-size: 25px;
  font-family: "Arial";
}
img {
  height: 40px;
  width: 40px;
  vertical-align:middle;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 2px;
}
.tab {
    display: inline-block;
    margin-left: 2em;
}